<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>challengeicon_bone</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{28, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{631, 273}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengeicon_coin</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 27}</string>
			<key>spriteSourceSize</key>
			<string>{30, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{661, 273}, {30, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengeicon_time</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 31}</string>
			<key>spriteSourceSize</key>
			<string>{30, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{599, 273}, {30, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengemodebutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {94, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 95}</string>
			<key>spriteSourceSize</key>
			<string>{96, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{908, 97}, {96, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengeselectnextarrow</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{58, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{893, 291}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengeselecttitlebar</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {165, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 43}</string>
			<key>spriteSourceSize</key>
			<string>{165, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 244}, {165, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>challengeselectwindow</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {408, 258}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{430, 260}</string>
			<key>spriteSourceSize</key>
			<string>{430, 260}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 244}, {430, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gobackbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {72, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{741, 244}, {74, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>infinitemode</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {94, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{96, 95}</string>
			<key>spriteSourceSize</key>
			<string>{96, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{908, 0}, {96, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leveldescriptionpanel</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {319, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{333, 195}</string>
			<key>spriteSourceSize</key>
			<string>{333, 195}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{432, 312}, {333, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>levelstar_hr</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 35}</string>
			<key>spriteSourceSize</key>
			<string>{32, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{984, 275}, {32, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>levelstar_locked_hr</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 35}</string>
			<key>spriteSourceSize</key>
			<string>{32, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{984, 238}, {32, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lock</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 42}</string>
			<key>spriteSourceSize</key>
			<string>{35, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{984, 194}, {35, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panelbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 95}</string>
			<key>spriteSourceSize</key>
			<string>{74, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{908, 194}, {74, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>preview_collect_bones</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {136, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 120}</string>
			<key>spriteSourceSize</key>
			<string>{140, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{599, 151}, {140, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>preview_find_secrets</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {126, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 120}</string>
			<key>spriteSourceSize</key>
			<string>{140, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{766, 122}, {140, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>preview_timed</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {108, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 120}</string>
			<key>spriteSourceSize</key>
			<string>{140, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{766, 0}, {140, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>runbutton</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {72, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{817, 244}, {74, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world_select_map</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {764, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{764, 149}</string>
			<key>spriteSourceSize</key>
			<string>{764, 149}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {764, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>levelselectobj</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>nmenu_levelselectobj</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>nmenu_levelselectobj</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>