<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bg_body_normal</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {107, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 70}</string>
			<key>spriteSourceSize</key>
			<string>{131, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 167}, {131, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_hatch_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 28}, {28, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 41}</string>
			<key>spriteSourceSize</key>
			<string>{40, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 130}, {40, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_hatch_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 28}, {26, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 41}</string>
			<key>spriteSourceSize</key>
			<string>{40, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 130}, {40, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_hatch_cannon_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {24, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 41}</string>
			<key>spriteSourceSize</key>
			<string>{40, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{598, 120}, {40, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_hatch_cannon_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {22, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 41}</string>
			<key>spriteSourceSize</key>
			<string>{40, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 323}, {40, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_hatch_cannon_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {28, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 41}</string>
			<key>spriteSourceSize</key>
			<string>{40, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{586, 163}, {40, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_hatch_cannon_default</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 41}</string>
			<key>spriteSourceSize</key>
			<string>{40, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{544, 167}, {40, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_hatch_cannon_fire</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 41}</string>
			<key>spriteSourceSize</key>
			<string>{40, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 120}, {40, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_wake_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 0}, {117, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 45}</string>
			<key>spriteSourceSize</key>
			<string>{143, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 130}, {143, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_wake_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 14}, {115, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 45}</string>
			<key>spriteSourceSize</key>
			<string>{143, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 130}, {143, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_wake_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {143, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 45}</string>
			<key>spriteSourceSize</key>
			<string>{143, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 120}, {143, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_bite0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {317, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{373, 201}</string>
			<key>spriteSourceSize</key>
			<string>{373, 201}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 640}, {373, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_bite1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {313, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{373, 201}</string>
			<key>spriteSourceSize</key>
			<string>{373, 201}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 437}, {373, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_bite2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {313, 201}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{373, 201}</string>
			<key>spriteSourceSize</key>
			<string>{373, 201}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 442}, {373, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_bite3</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {373, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{373, 201}</string>
			<key>spriteSourceSize</key>
			<string>{373, 201}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{643, 0}, {373, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body_normal</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {299, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{373, 201}</string>
			<key>spriteSourceSize</key>
			<string>{373, 201}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 239}, {373, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hatch_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 84}, {78, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{114, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 0}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hatch_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 82}, {68, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{114, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 203}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hatch_cannon_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 24}, {62, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{114, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 562}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hatch_cannon_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {62, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{114, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 645}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hatch_cannon_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 12}, {74, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{114, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{527, 0}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hatch_cannon_default</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 38}, {110, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{114, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{491, 645}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hatch_cannon_fire</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 34}, {110, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{114, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 442}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wake_0</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 0}, {329, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{409, 128}</string>
			<key>spriteSourceSize</key>
			<string>{409, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {409, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wake_1</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 40}, {321, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{409, 128}</string>
			<key>spriteSourceSize</key>
			<string>{409, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 177}, {409, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wake_2</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 59}, {409, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{409, 128}</string>
			<key>spriteSourceSize</key>
			<string>{409, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 307}, {409, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>subboss</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>subboss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>subboss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>